nifi-registry/flow_storage/eee03c57-7e3c-4bba-9818-f8f9ba231bfd/0dcae8cd-d4ad-42d5-a666-84fcd4886551/2/2.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "id" : "7bb479fe-7f3f-32c6-9fb0-81debef5731c",
            "instanceIdentifier" : "161cbcf5-1fba-3c4b-edb3-93f0328e2685",
            "name" : "FromWeatherPG",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bda948f3-eadd-3c65-a407-f1c3dfd4a754",
          "identifier" : "5e4d6c55-623d-3ba8-82b8-d869a85da7a6",
          "instanceIdentifier" : "08f2cb08-7300-3604-ac93-6625cec65b68",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "id" : "7c8843c8-fe3a-3df3-aaab-9df6da609ce4",
            "instanceIdentifier" : "06ebb164-5d18-3a2c-9d8b-e12a27b6962c",
            "name" : "ToWeatherPG",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "bda948f3-eadd-3c65-a407-f1c3dfd4a754",
        "inputPorts" : [ ],
        "instanceIdentifier" : "94f340e2-0184-1000-fc7d-fd46bd01d9ed",
        "labels" : [ ],
        "name" : "FlowPG",
        "outputPorts" : [ ],
        "position" : {
          "x" : 0.0,
          "y" : 0.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "7c8843c8-fe3a-3df3-aaab-9df6da609ce4",
              "instanceIdentifier" : "06ebb164-5d18-3a2c-9d8b-e12a27b6962c",
              "name" : "ToWeatherPG",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "ce0e499c-bafb-3713-a6f5-7d1de028d19c",
            "instanceIdentifier" : "ba18e528-e4e5-3df7-f62b-efa0cb4ca415",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "97f53dbc-70a0-37af-bf55-2fb04651d4aa",
              "instanceIdentifier" : "64d79498-a6cd-3919-6df8-d5e27f0569bf",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 56.0,
              "y" : 432.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "0da9a4cc-7895-373c-a96c-bedbba738a61",
              "instanceIdentifier" : "2bab4cb1-1d73-3d7b-b059-d8aecd8ed56e",
              "name" : "ParseStationId",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "d0438b2e-e6b9-3110-963e-6c01348f97a5",
            "instanceIdentifier" : "60102454-48c5-3014-5874-3e757d624c47",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "5356f5c8-f813-3ac5-8b80-6f761542b5b1",
              "instanceIdentifier" : "deb9fdf6-5c69-300d-f2c6-8833a2e34d16",
              "name" : "SplitStationList",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 72.0,
              "y" : 1120.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "69503f15-fd21-3385-9780-4d8cefbd0411",
              "instanceIdentifier" : "61a292d7-b230-33ce-d18d-09b8fb7816b5",
              "name" : "GetSensorData",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "a1563537-4117-3d58-9284-b7eff05dcc47",
            "instanceIdentifier" : "842317e5-154b-31c9-adb4-abdedfec7b39",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "0a5dc255-c074-32b8-a685-c7cfe827e744",
              "instanceIdentifier" : "1e4df813-8ce1-36ef-4811-13f10de8d4ae",
              "name" : "ParseSensorId",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "97f53dbc-70a0-37af-bf55-2fb04651d4aa",
              "instanceIdentifier" : "64d79498-a6cd-3919-6df8-d5e27f0569bf",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "8d127a02-31ca-3700-830d-7ed5717bf73f",
            "instanceIdentifier" : "c0795d4f-6908-3e24-f1d4-8872f901fd5d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "3a307a3b-4338-397f-a319-bc5415dce179",
              "instanceIdentifier" : "e9113e82-3275-3493-5159-475bb9261e26",
              "name" : "ParseStationLocation",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 64.0,
              "y" : 592.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "3446b20c-5d6c-3c57-b144-3fe73ce77070",
              "instanceIdentifier" : "261f45a9-1984-3d52-5383-41e2ddaf17de",
              "name" : "GetSensors",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "a55a1cde-5478-3e06-a70e-86797875aea7",
            "instanceIdentifier" : "74a29fa0-103a-3753-59c9-d2c67d8a1c51",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "0da9a4cc-7895-373c-a96c-bedbba738a61",
              "instanceIdentifier" : "2bab4cb1-1d73-3d7b-b059-d8aecd8ed56e",
              "name" : "ParseStationId",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 832.0,
              "y" : 288.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "3a307a3b-4338-397f-a319-bc5415dce179",
              "instanceIdentifier" : "e9113e82-3275-3493-5159-475bb9261e26",
              "name" : "ParseStationLocation",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "a832284e-4a3d-3fde-bba5-e71de275a20e",
            "instanceIdentifier" : "bcc0372b-8f9d-3f42-44cc-99663ebf9d77",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "5356f5c8-f813-3ac5-8b80-6f761542b5b1",
              "instanceIdentifier" : "deb9fdf6-5c69-300d-f2c6-8833a2e34d16",
              "name" : "SplitStationList",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 40.0,
              "y" : 232.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "5356f5c8-f813-3ac5-8b80-6f761542b5b1",
              "instanceIdentifier" : "deb9fdf6-5c69-300d-f2c6-8833a2e34d16",
              "name" : "SplitStationList",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "e33f0b4e-5bfd-31bd-b203-609c7bafd53a",
            "instanceIdentifier" : "3841f0ff-490f-3576-77f4-6a238da93e59",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "39a05ea5-61f6-38e6-96e4-1607e5a76473",
              "instanceIdentifier" : "7ad3df5e-6816-3a84-014f-6d006398f118",
              "name" : "GetStations",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 72.0,
              "y" : 736.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "50da4d25-803d-3dd5-814a-c7089f05974d",
              "instanceIdentifier" : "e3ee001b-26ad-33cf-9f5b-5822d68265fa",
              "name" : "SplitSensorList",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "7651fd83-0e5a-363c-86e3-a85da727e262",
            "instanceIdentifier" : "3d3e3de8-0bc4-3ea8-d930-662d01044c9e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "3446b20c-5d6c-3c57-b144-3fe73ce77070",
              "instanceIdentifier" : "261f45a9-1984-3d52-5383-41e2ddaf17de",
              "name" : "GetSensors",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "1468a9c5-64ea-3ead-af87-d1e756199793",
              "instanceIdentifier" : "15da4488-0e15-3a7a-c27c-8acb45981d3f",
              "name" : "Wait",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "ca99b495-da7d-31e5-9435-a3e1bd76c17b",
            "instanceIdentifier" : "5868668b-9fc7-3681-3edf-a2bcde690fc6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "69503f15-fd21-3385-9780-4d8cefbd0411",
              "instanceIdentifier" : "61a292d7-b230-33ce-d18d-09b8fb7816b5",
              "name" : "GetSensorData",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 72.0,
              "y" : 936.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "0a5dc255-c074-32b8-a685-c7cfe827e744",
              "instanceIdentifier" : "1e4df813-8ce1-36ef-4811-13f10de8d4ae",
              "name" : "ParseSensorId",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "ec2cce5f-aa76-30f9-bc32-72927f7d5d93",
            "instanceIdentifier" : "c5a6348e-59ab-3255-1e7b-45b3ef58cab0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
              "id" : "50da4d25-803d-3dd5-814a-c7089f05974d",
              "instanceIdentifier" : "e3ee001b-26ad-33cf-9f5b-5822d68265fa",
              "name" : "SplitSensorList",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "bda948f3-eadd-3c65-a407-f1c3dfd4a754",
          "identifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
          "inputPorts" : [ ],
          "instanceIdentifier" : "23b80e2d-35fe-3980-c1ac-ccac8b4bf5a9",
          "labels" : [ ],
          "name" : "AirProcessGroup",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "7c8843c8-fe3a-3df3-aaab-9df6da609ce4",
            "instanceIdentifier" : "06ebb164-5d18-3a2c-9d8b-e12a27b6962c",
            "name" : "ToWeatherPG",
            "position" : {
              "x" : 712.0,
              "y" : 952.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 1048.0,
            "y" : 520.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "39a05ea5-61f6-38e6-96e4-1607e5a76473",
            "instanceIdentifier" : "7ad3df5e-6816-3a84-014f-6d006398f118",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetStations",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 56.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "http://mock-air-api:1337/station/findAll",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "5 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "3a307a3b-4338-397f-a319-bc5415dce179",
            "instanceIdentifier" : "e9113e82-3275-3493-5159-475bb9261e26",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseStationLocation",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 656.0,
              "y" : 392.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "lon" : "$.gegrLon",
              "lat" : "$.gegrLat",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "lon" : {
                "displayName" : "lon",
                "identifiesControllerService" : false,
                "name" : "lon",
                "sensitive" : false
              },
              "lat" : {
                "displayName" : "lat",
                "identifiesControllerService" : false,
                "name" : "lat",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "69503f15-fd21-3385-9780-4d8cefbd0411",
            "instanceIdentifier" : "61a292d7-b230-33ce-d18d-09b8fb7816b5",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetSensorData",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 1168.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "http://mock-air-api:1337/data/getData/${sensorId}",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "50da4d25-803d-3dd5-814a-c7089f05974d",
            "instanceIdentifier" : "e3ee001b-26ad-33cf-9f5b-5822d68265fa",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitSensorList",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 760.0
            },
            "properties" : {
              "Null Value Representation" : "the string 'null'",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "97f53dbc-70a0-37af-bf55-2fb04651d4aa",
            "instanceIdentifier" : "64d79498-a6cd-3919-6df8-d5e27f0569bf",
            "maxBackoffPeriod" : "10 mins",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 656.0,
              "y" : 704.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "true",
              "Attributes List" : "lat,lon",
              "Include Core Attributes" : "true"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "0a5dc255-c074-32b8-a685-c7cfe827e744",
            "instanceIdentifier" : "1e4df813-8ce1-36ef-4811-13f10de8d4ae",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseSensorId",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 952.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore",
              "sensorId" : "$.id"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              },
              "sensorId" : {
                "displayName" : "sensorId",
                "identifiesControllerService" : false,
                "name" : "sensorId",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "0da9a4cc-7895-373c-a96c-bedbba738a61",
            "instanceIdentifier" : "2bab4cb1-1d73-3d7b-b059-d8aecd8ed56e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseStationId",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 400.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore",
              "stationId" : "$.id"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              },
              "stationId" : {
                "displayName" : "stationId",
                "identifiesControllerService" : false,
                "name" : "stationId",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "3446b20c-5d6c-3c57-b144-3fe73ce77070",
            "instanceIdentifier" : "261f45a9-1984-3d52-5383-41e2ddaf17de",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetSensors",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 576.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "http://mock-air-api:1337/station/sensors/${stationId}",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "5356f5c8-f813-3ac5-8b80-6f761542b5b1",
            "instanceIdentifier" : "deb9fdf6-5c69-300d-f2c6-8833a2e34d16",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitStationList",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 224.0
            },
            "properties" : {
              "Null Value Representation" : "the string 'null'",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7686ab60-cd01-3cf5-a58e-99cacaaa1065",
            "identifier" : "1468a9c5-64ea-3ead-af87-d1e756199793",
            "instanceIdentifier" : "15da4488-0e15-3a7a-c27c-8acb45981d3f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Wait",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 128.80840438857,
              "y" : 1443.5826789946852
            },
            "properties" : {
              "wait-buffer-count" : "1",
              "wait-mode" : "wait",
              "attribute-copy-mode" : "keeporiginal",
              "releasable-flowfile-count" : "1",
              "expiration-duration" : "10 min",
              "target-signal-count" : "1"
            },
            "propertyDescriptors" : {
              "wait-buffer-count" : {
                "displayName" : "Wait Buffer Count",
                "identifiesControllerService" : false,
                "name" : "wait-buffer-count",
                "sensitive" : false
              },
              "wait-mode" : {
                "displayName" : "Wait Mode",
                "identifiesControllerService" : false,
                "name" : "wait-mode",
                "sensitive" : false
              },
              "attribute-copy-mode" : {
                "displayName" : "Attribute Copy Mode",
                "identifiesControllerService" : false,
                "name" : "attribute-copy-mode",
                "sensitive" : false
              },
              "distributed-cache-service" : {
                "displayName" : "Distributed Cache Service",
                "identifiesControllerService" : true,
                "name" : "distributed-cache-service",
                "sensitive" : false
              },
              "releasable-flowfile-count" : {
                "displayName" : "Releasable FlowFile Count",
                "identifiesControllerService" : false,
                "name" : "releasable-flowfile-count",
                "sensitive" : false
              },
              "release-signal-id" : {
                "displayName" : "Release Signal Identifier",
                "identifiesControllerService" : false,
                "name" : "release-signal-id",
                "sensitive" : false
              },
              "signal-counter-name" : {
                "displayName" : "Signal Counter Name",
                "identifiesControllerService" : false,
                "name" : "signal-counter-name",
                "sensitive" : false
              },
              "expiration-duration" : {
                "displayName" : "Expiration Duration",
                "identifiesControllerService" : false,
                "name" : "expiration-duration",
                "sensitive" : false
              },
              "target-signal-count" : {
                "displayName" : "Target Signal Count",
                "identifiesControllerService" : false,
                "name" : "target-signal-count",
                "sensitive" : false
              },
              "wait-penalty-duration" : {
                "displayName" : "Wait Penalty Duration",
                "identifiesControllerService" : false,
                "name" : "wait-penalty-duration",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.Wait",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "ba619317-e4ca-39de-9185-4c5f142672c2",
              "instanceIdentifier" : "e1f4caab-9297-38f6-a6a5-d9d19e8ca813",
              "name" : "Wait",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "d4dc3a0b-ffdb-3cd0-bead-d8197be0f4f9",
            "instanceIdentifier" : "adc85a60-f3a5-355f-cb0a-484f50b05039",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "d0b10ef4-bf55-340c-bd25-37a89a91a792",
              "instanceIdentifier" : "3ddabc41-7a6b-3f1d-7942-3b7ded58af65",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "c08b6dee-a3bb-3ae0-a825-8b3a530bf8f3",
              "instanceIdentifier" : "642af7c2-95b1-3041-44fc-a501e601e2e7",
              "name" : "Wait",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "94371cbf-0435-344c-998b-e99e3e4af685",
            "instanceIdentifier" : "58964b64-0808-3e2b-1333-4c7ae7feec21",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "d0b10ef4-bf55-340c-bd25-37a89a91a792",
              "instanceIdentifier" : "3ddabc41-7a6b-3f1d-7942-3b7ded58af65",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 456.0,
              "y" : 384.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "bc01f92d-e9c8-3bac-a349-93d442007ce1",
              "instanceIdentifier" : "24f3c35f-1dab-3d12-9777-84cca09853e8",
              "name" : "GetWeather",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "539c7be0-324e-384d-aa50-8fcd05bbd1ab",
            "instanceIdentifier" : "e7a02a17-0b7e-3cd8-fd82-2d1d63c06d84",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "db8cbff5-5db2-330d-b325-bfe0dc6dbeae",
              "instanceIdentifier" : "cdf25d32-ea87-3f71-4308-71d018e576a7",
              "name" : "ParseLocation",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 456.0,
              "y" : 584.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "02138657-e2e7-39ad-b2cd-0af02994aa0b",
              "instanceIdentifier" : "93dda921-957a-3a0d-aa5f-9837160621e7",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "54fe3971-0e76-3715-8978-d51882d658f6",
            "instanceIdentifier" : "c5e99fca-a217-3841-dd2b-f7fdb8b93166",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "bc01f92d-e9c8-3bac-a349-93d442007ce1",
              "instanceIdentifier" : "24f3c35f-1dab-3d12-9777-84cca09853e8",
              "name" : "GetWeather",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 488.0,
              "y" : 200.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "db8cbff5-5db2-330d-b325-bfe0dc6dbeae",
              "instanceIdentifier" : "cdf25d32-ea87-3f71-4308-71d018e576a7",
              "name" : "ParseLocation",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "bf38f1cd-02fd-3389-909b-c8371218bdd2",
            "instanceIdentifier" : "6d87d26d-a958-3086-6697-2ae9f8a17abf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "7bb479fe-7f3f-32c6-9fb0-81debef5731c",
              "instanceIdentifier" : "161cbcf5-1fba-3c4b-edb3-93f0328e2685",
              "name" : "FromWeatherPG",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "d0b10ef4-bf55-340c-bd25-37a89a91a792",
              "instanceIdentifier" : "3ddabc41-7a6b-3f1d-7942-3b7ded58af65",
              "name" : "PutHDFS",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "b8cff9cb-281b-339a-aa47-eb4ab8df3dd7",
            "instanceIdentifier" : "dcf4dbf1-41fa-3b0d-81b0-1db7107b55d3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
              "id" : "02138657-e2e7-39ad-b2cd-0af02994aa0b",
              "instanceIdentifier" : "93dda921-957a-3a0d-aa5f-9837160621e7",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "bda948f3-eadd-3c65-a407-f1c3dfd4a754",
          "identifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "7bb479fe-7f3f-32c6-9fb0-81debef5731c",
            "instanceIdentifier" : "161cbcf5-1fba-3c4b-edb3-93f0328e2685",
            "name" : "FromWeatherPG",
            "position" : {
              "x" : 682.0,
              "y" : 115.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "6b769f39-5d0f-391c-73c1-18f33a0d7814",
          "labels" : [ ],
          "name" : "WeatherProcessGroup",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1064.0,
            "y" : 880.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "ba619317-e4ca-39de-9185-4c5f142672c2",
            "instanceIdentifier" : "e1f4caab-9297-38f6-a6a5-d9d19e8ca813",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Wait",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 752.0,
              "y" : 1120.0
            },
            "properties" : {
              "wait-buffer-count" : "1",
              "wait-mode" : "wait",
              "attribute-copy-mode" : "keeporiginal",
              "releasable-flowfile-count" : "1",
              "expiration-duration" : "10 min",
              "target-signal-count" : "1"
            },
            "propertyDescriptors" : {
              "wait-buffer-count" : {
                "displayName" : "Wait Buffer Count",
                "identifiesControllerService" : false,
                "name" : "wait-buffer-count",
                "sensitive" : false
              },
              "wait-mode" : {
                "displayName" : "Wait Mode",
                "identifiesControllerService" : false,
                "name" : "wait-mode",
                "sensitive" : false
              },
              "attribute-copy-mode" : {
                "displayName" : "Attribute Copy Mode",
                "identifiesControllerService" : false,
                "name" : "attribute-copy-mode",
                "sensitive" : false
              },
              "distributed-cache-service" : {
                "displayName" : "Distributed Cache Service",
                "identifiesControllerService" : true,
                "name" : "distributed-cache-service",
                "sensitive" : false
              },
              "releasable-flowfile-count" : {
                "displayName" : "Releasable FlowFile Count",
                "identifiesControllerService" : false,
                "name" : "releasable-flowfile-count",
                "sensitive" : false
              },
              "release-signal-id" : {
                "displayName" : "Release Signal Identifier",
                "identifiesControllerService" : false,
                "name" : "release-signal-id",
                "sensitive" : false
              },
              "signal-counter-name" : {
                "displayName" : "Signal Counter Name",
                "identifiesControllerService" : false,
                "name" : "signal-counter-name",
                "sensitive" : false
              },
              "expiration-duration" : {
                "displayName" : "Expiration Duration",
                "identifiesControllerService" : false,
                "name" : "expiration-duration",
                "sensitive" : false
              },
              "target-signal-count" : {
                "displayName" : "Target Signal Count",
                "identifiesControllerService" : false,
                "name" : "target-signal-count",
                "sensitive" : false
              },
              "wait-penalty-duration" : {
                "displayName" : "Wait Penalty Duration",
                "identifiesControllerService" : false,
                "name" : "wait-penalty-duration",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.Wait",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-hadoop-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "d0b10ef4-bf55-340c-bd25-37a89a91a792",
            "instanceIdentifier" : "3ddabc41-7a6b-3f1d-7942-3b7ded58af65",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutHDFS",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 824.0,
              "y" : 864.0
            },
            "properties" : {
              "Hadoop Configuration Resources" : "/opt/nifi/nifi-current/core-site.xml,/opt/nifi/nifi-current/hdfs-site.xml",
              "Compression codec" : "NONE",
              "Ignore Locality" : "false",
              "writing-strategy" : "writeAndRename",
              "Kerberos Relogin Period" : "4 hours",
              "Directory" : "/tmp/WEATHERRESULTS/",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Permissions umask" : {
                "displayName" : "Permissions umask",
                "identifiesControllerService" : false,
                "name" : "Permissions umask",
                "sensitive" : false
              },
              "Hadoop Configuration Resources" : {
                "displayName" : "Hadoop Configuration Resources",
                "identifiesControllerService" : false,
                "name" : "Hadoop Configuration Resources",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "Remote Owner" : {
                "displayName" : "Remote Owner",
                "identifiesControllerService" : false,
                "name" : "Remote Owner",
                "sensitive" : false
              },
              "Additional Classpath Resources" : {
                "displayName" : "Additional Classpath Resources",
                "identifiesControllerService" : false,
                "name" : "Additional Classpath Resources",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "DIRECTORY", "FILE" ]
                },
                "sensitive" : false
              },
              "Compression codec" : {
                "displayName" : "Compression codec",
                "identifiesControllerService" : false,
                "name" : "Compression codec",
                "sensitive" : false
              },
              "IO Buffer Size" : {
                "displayName" : "IO Buffer Size",
                "identifiesControllerService" : false,
                "name" : "IO Buffer Size",
                "sensitive" : false
              },
              "Remote Group" : {
                "displayName" : "Remote Group",
                "identifiesControllerService" : false,
                "name" : "Remote Group",
                "sensitive" : false
              },
              "Block Size" : {
                "displayName" : "Block Size",
                "identifiesControllerService" : false,
                "name" : "Block Size",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "Kerberos Password" : {
                "displayName" : "Kerberos Password",
                "identifiesControllerService" : false,
                "name" : "Kerberos Password",
                "sensitive" : true
              },
              "Kerberos Keytab" : {
                "displayName" : "Kerberos Keytab",
                "identifiesControllerService" : false,
                "name" : "Kerberos Keytab",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "Ignore Locality" : {
                "displayName" : "Ignore Locality",
                "identifiesControllerService" : false,
                "name" : "Ignore Locality",
                "sensitive" : false
              },
              "Kerberos Principal" : {
                "displayName" : "Kerberos Principal",
                "identifiesControllerService" : false,
                "name" : "Kerberos Principal",
                "sensitive" : false
              },
              "Replication" : {
                "displayName" : "Replication",
                "identifiesControllerService" : false,
                "name" : "Replication",
                "sensitive" : false
              },
              "kerberos-user-service" : {
                "displayName" : "Kerberos User Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-user-service",
                "sensitive" : false
              },
              "writing-strategy" : {
                "displayName" : "Writing Strategy",
                "identifiesControllerService" : false,
                "name" : "writing-strategy",
                "sensitive" : false
              },
              "Kerberos Relogin Period" : {
                "displayName" : "Kerberos Relogin Period",
                "identifiesControllerService" : false,
                "name" : "Kerberos Relogin Period",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "c08b6dee-a3bb-3ae0-a825-8b3a530bf8f3",
            "instanceIdentifier" : "642af7c2-95b1-3041-44fc-a501e601e2e7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Wait",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 832.0,
              "y" : 608.0
            },
            "properties" : {
              "wait-buffer-count" : "1",
              "wait-mode" : "wait",
              "attribute-copy-mode" : "keeporiginal",
              "releasable-flowfile-count" : "1",
              "expiration-duration" : "10 min",
              "target-signal-count" : "1"
            },
            "propertyDescriptors" : {
              "wait-buffer-count" : {
                "displayName" : "Wait Buffer Count",
                "identifiesControllerService" : false,
                "name" : "wait-buffer-count",
                "sensitive" : false
              },
              "wait-mode" : {
                "displayName" : "Wait Mode",
                "identifiesControllerService" : false,
                "name" : "wait-mode",
                "sensitive" : false
              },
              "attribute-copy-mode" : {
                "displayName" : "Attribute Copy Mode",
                "identifiesControllerService" : false,
                "name" : "attribute-copy-mode",
                "sensitive" : false
              },
              "distributed-cache-service" : {
                "displayName" : "Distributed Cache Service",
                "identifiesControllerService" : true,
                "name" : "distributed-cache-service",
                "sensitive" : false
              },
              "releasable-flowfile-count" : {
                "displayName" : "Releasable FlowFile Count",
                "identifiesControllerService" : false,
                "name" : "releasable-flowfile-count",
                "sensitive" : false
              },
              "release-signal-id" : {
                "displayName" : "Release Signal Identifier",
                "identifiesControllerService" : false,
                "name" : "release-signal-id",
                "sensitive" : false
              },
              "signal-counter-name" : {
                "displayName" : "Signal Counter Name",
                "identifiesControllerService" : false,
                "name" : "signal-counter-name",
                "sensitive" : false
              },
              "expiration-duration" : {
                "displayName" : "Expiration Duration",
                "identifiesControllerService" : false,
                "name" : "expiration-duration",
                "sensitive" : false
              },
              "target-signal-count" : {
                "displayName" : "Target Signal Count",
                "identifiesControllerService" : false,
                "name" : "target-signal-count",
                "sensitive" : false
              },
              "wait-penalty-duration" : {
                "displayName" : "Wait Penalty Duration",
                "identifiesControllerService" : false,
                "name" : "wait-penalty-duration",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.Wait",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "bc01f92d-e9c8-3bac-a349-93d442007ce1",
            "instanceIdentifier" : "24f3c35f-1dab-3d12-9777-84cca09853e8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetWeather",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 624.0,
              "y" : 400.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=1a89b15c921561ee27cdc736203f4745",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "db8cbff5-5db2-330d-b325-bfe0dc6dbeae",
            "instanceIdentifier" : "cdf25d32-ea87-3f71-4308-71d018e576a7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseLocation",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 624.0,
              "y" : 216.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "lon" : "$.lon",
              "lat" : "$.lat",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "lon" : {
                "displayName" : "lon",
                "identifiesControllerService" : false,
                "name" : "lon",
                "sensitive" : false
              },
              "lat" : {
                "displayName" : "lat",
                "identifiesControllerService" : false,
                "name" : "lat",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "47cf9c10-c35b-3a17-be90-9a3edf281736",
            "identifier" : "02138657-e2e7-39ad-b2cd-0af02994aa0b",
            "instanceIdentifier" : "93dda921-957a-3a0d-aa5f-9837160621e7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 224.0,
              "y" : 816.0
            },
            "properties" : {
              "filename" : "${filename}.${UUID()}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}