nifi-registry/flow_storage/eee03c57-7e3c-4bba-9818-f8f9ba231bfd/0dcae8cd-d4ad-42d5-a666-84fcd4886551/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "id" : "0e9fb29a-9790-323d-8a75-a9be4563f0d6",
            "instanceIdentifier" : "b96f5d51-b32f-3c89-a41b-416c0cbd433f",
            "name" : "FromWeatherPG",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "46509b19-1ecf-3d2d-99ca-df563d1c4d9c",
          "identifier" : "d60f1b49-c57b-36b9-8893-4f86fb7e3cb3",
          "instanceIdentifier" : "673cbc00-2a36-353c-909e-d71d6f73dd4b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "id" : "c31d9708-3f2a-3bbc-9091-4820e501ab0b",
            "instanceIdentifier" : "8dcb4eb0-1586-3eb6-f19b-02b2f0660c84",
            "name" : "ToWeatherPG",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "46509b19-1ecf-3d2d-99ca-df563d1c4d9c",
        "inputPorts" : [ ],
        "instanceIdentifier" : "8fcd77d4-0184-1000-3072-9d8ef6d64a19",
        "labels" : [ ],
        "name" : "FlowPG",
        "outputPorts" : [ ],
        "position" : {
          "x" : 794.0,
          "y" : 256.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 72.0,
              "y" : 936.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "9a705c5a-1611-3a2c-a0fd-5909b69d5cd1",
              "instanceIdentifier" : "d3bca395-2e36-3044-b5a5-cde59cd5702f",
              "name" : "ParseSensorId",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "d4ad94f1-5d18-3061-8b4e-b3d2866fddc9",
            "instanceIdentifier" : "458ec58f-67a6-32f6-2fee-08961cb5af75",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "74ee7c99-f899-3652-82e8-75dd291041e6",
              "instanceIdentifier" : "ced09817-1698-3f2a-ff85-d772e6ce239e",
              "name" : "SplitSensorList",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 56.0,
              "y" : 432.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "934de8e0-835e-39ad-b835-4bf1fabccef3",
              "instanceIdentifier" : "f05de1b2-62c7-317b-a3fc-fc45731405aa",
              "name" : "ParseStationId",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "19d398e2-2b3c-3adc-9279-49f0e6f9a9f8",
            "instanceIdentifier" : "48e73cac-c025-3953-de55-5ad9903c3547",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "087d1282-f1e1-3df9-a25b-e5378d54a35d",
              "instanceIdentifier" : "66203e3e-f755-3d60-48ae-2ecf2f9cd268",
              "name" : "SplitStationList",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 72.0,
              "y" : 1120.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "c2c4817d-4c55-3504-9fc0-fc6ddb5c7473",
              "instanceIdentifier" : "59013dcb-921f-3b9c-3939-9ebf1a5c62ab",
              "name" : "GetSensorData",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "e7504e03-2a92-3a6f-9ef9-fd044ce64c0e",
            "instanceIdentifier" : "fcccdb15-91e4-3b45-b340-d967dde07f6a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "9a705c5a-1611-3a2c-a0fd-5909b69d5cd1",
              "instanceIdentifier" : "d3bca395-2e36-3044-b5a5-cde59cd5702f",
              "name" : "ParseSensorId",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "89e1ae5d-c6eb-3d14-979e-6e46364e9644",
              "instanceIdentifier" : "e9967d8a-c36d-3801-14e1-dde6085319b2",
              "name" : "Wait",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "0bc109e6-6bc9-3ef5-b553-55235592c65c",
            "instanceIdentifier" : "ef8df56b-0b93-3270-dfbf-ad79d0f0c8b7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "c2c4817d-4c55-3504-9fc0-fc6ddb5c7473",
              "instanceIdentifier" : "59013dcb-921f-3b9c-3939-9ebf1a5c62ab",
              "name" : "GetSensorData",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "9a182b89-c1a9-310b-9a88-9ff9d38d6222",
              "instanceIdentifier" : "58082a56-f20b-3022-5a99-4ed58eb572c7",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "67921073-deda-34bf-9f7c-45d9fabf2eb5",
            "instanceIdentifier" : "d6d88d18-2dc5-3882-4b48-1b4fbac1ebb4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "96197faa-8518-3aff-9e22-0c9b082efb5f",
              "instanceIdentifier" : "53f7dde1-b435-3efd-9f5d-f3f75d43c77f",
              "name" : "ParseStationLocation",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 72.0,
              "y" : 736.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "74ee7c99-f899-3652-82e8-75dd291041e6",
              "instanceIdentifier" : "ced09817-1698-3f2a-ff85-d772e6ce239e",
              "name" : "SplitSensorList",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "a56ae246-72e2-316e-a89b-6acca01542ca",
            "instanceIdentifier" : "8e2d7403-231e-360d-51e9-ef72baba80bf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "6bae71ac-1430-3698-a3f0-6e4718b8c73a",
              "instanceIdentifier" : "bd271a94-122f-3e8f-3f6a-056c4fa95f22",
              "name" : "GetSensors",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 64.0,
              "y" : 592.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "6bae71ac-1430-3698-a3f0-6e4718b8c73a",
              "instanceIdentifier" : "bd271a94-122f-3e8f-3f6a-056c4fa95f22",
              "name" : "GetSensors",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "0d676980-a404-3764-9b9e-f84304487775",
            "instanceIdentifier" : "4c4cc983-af35-3cf9-e876-32254d4b5e09",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "934de8e0-835e-39ad-b835-4bf1fabccef3",
              "instanceIdentifier" : "f05de1b2-62c7-317b-a3fc-fc45731405aa",
              "name" : "ParseStationId",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 40.0,
              "y" : 232.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "087d1282-f1e1-3df9-a25b-e5378d54a35d",
              "instanceIdentifier" : "66203e3e-f755-3d60-48ae-2ecf2f9cd268",
              "name" : "SplitStationList",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "328748e4-ab44-3db6-aa10-cd8ec8988441",
            "instanceIdentifier" : "2b6ba487-be7b-341c-d164-f4051addd11a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "87faa0fd-ed34-35b3-8c78-212d5a94cd06",
              "instanceIdentifier" : "1694cae2-870d-3aad-ec4a-aeec0bdfee49",
              "name" : "GetStations",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "c31d9708-3f2a-3bbc-9091-4820e501ab0b",
              "instanceIdentifier" : "8dcb4eb0-1586-3eb6-f19b-02b2f0660c84",
              "name" : "ToWeatherPG",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "259bb283-98be-3d16-947f-4bea5f4addec",
            "instanceIdentifier" : "fb30a2ec-3897-3f76-dbc8-cb89580e4bac",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "9a182b89-c1a9-310b-9a88-9ff9d38d6222",
              "instanceIdentifier" : "58082a56-f20b-3022-5a99-4ed58eb572c7",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 832.0,
              "y" : 288.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "96197faa-8518-3aff-9e22-0c9b082efb5f",
              "instanceIdentifier" : "53f7dde1-b435-3efd-9f5d-f3f75d43c77f",
              "name" : "ParseStationLocation",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "664ec6dd-55c0-3911-b826-f608e1c2da73",
            "instanceIdentifier" : "3104f81e-2d84-39e9-90b9-9ff77e287101",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
              "id" : "087d1282-f1e1-3df9-a25b-e5378d54a35d",
              "instanceIdentifier" : "66203e3e-f755-3d60-48ae-2ecf2f9cd268",
              "name" : "SplitStationList",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "46509b19-1ecf-3d2d-99ca-df563d1c4d9c",
          "identifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
          "inputPorts" : [ ],
          "instanceIdentifier" : "958d7f77-fae5-3a47-2ea5-bac43689f0e6",
          "labels" : [ ],
          "name" : "AirProcessGroup",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "c31d9708-3f2a-3bbc-9091-4820e501ab0b",
            "instanceIdentifier" : "8dcb4eb0-1586-3eb6-f19b-02b2f0660c84",
            "name" : "ToWeatherPG",
            "position" : {
              "x" : 712.0,
              "y" : 952.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 738.0,
            "y" : 241.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "89e1ae5d-c6eb-3d14-979e-6e46364e9644",
            "instanceIdentifier" : "e9967d8a-c36d-3801-14e1-dde6085319b2",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Wait",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 128.80840438857,
              "y" : 1443.5826789946852
            },
            "properties" : {
              "wait-buffer-count" : "1",
              "wait-mode" : "wait",
              "attribute-copy-mode" : "keeporiginal",
              "releasable-flowfile-count" : "1",
              "expiration-duration" : "10 min",
              "target-signal-count" : "1"
            },
            "propertyDescriptors" : {
              "wait-buffer-count" : {
                "displayName" : "Wait Buffer Count",
                "identifiesControllerService" : false,
                "name" : "wait-buffer-count",
                "sensitive" : false
              },
              "wait-mode" : {
                "displayName" : "Wait Mode",
                "identifiesControllerService" : false,
                "name" : "wait-mode",
                "sensitive" : false
              },
              "attribute-copy-mode" : {
                "displayName" : "Attribute Copy Mode",
                "identifiesControllerService" : false,
                "name" : "attribute-copy-mode",
                "sensitive" : false
              },
              "distributed-cache-service" : {
                "displayName" : "Distributed Cache Service",
                "identifiesControllerService" : true,
                "name" : "distributed-cache-service",
                "sensitive" : false
              },
              "releasable-flowfile-count" : {
                "displayName" : "Releasable FlowFile Count",
                "identifiesControllerService" : false,
                "name" : "releasable-flowfile-count",
                "sensitive" : false
              },
              "release-signal-id" : {
                "displayName" : "Release Signal Identifier",
                "identifiesControllerService" : false,
                "name" : "release-signal-id",
                "sensitive" : false
              },
              "signal-counter-name" : {
                "displayName" : "Signal Counter Name",
                "identifiesControllerService" : false,
                "name" : "signal-counter-name",
                "sensitive" : false
              },
              "expiration-duration" : {
                "displayName" : "Expiration Duration",
                "identifiesControllerService" : false,
                "name" : "expiration-duration",
                "sensitive" : false
              },
              "target-signal-count" : {
                "displayName" : "Target Signal Count",
                "identifiesControllerService" : false,
                "name" : "target-signal-count",
                "sensitive" : false
              },
              "wait-penalty-duration" : {
                "displayName" : "Wait Penalty Duration",
                "identifiesControllerService" : false,
                "name" : "wait-penalty-duration",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.Wait",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "c2c4817d-4c55-3504-9fc0-fc6ddb5c7473",
            "instanceIdentifier" : "59013dcb-921f-3b9c-3939-9ebf1a5c62ab",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetSensorData",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 1168.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "http://mock-air-api:1337/data/getData/${sensorId}",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "934de8e0-835e-39ad-b835-4bf1fabccef3",
            "instanceIdentifier" : "f05de1b2-62c7-317b-a3fc-fc45731405aa",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseStationId",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 400.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore",
              "stationId" : "$.id"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              },
              "stationId" : {
                "displayName" : "stationId",
                "identifiesControllerService" : false,
                "name" : "stationId",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "9a182b89-c1a9-310b-9a88-9ff9d38d6222",
            "instanceIdentifier" : "58082a56-f20b-3022-5a99-4ed58eb572c7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 656.0,
              "y" : 704.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "true",
              "Attributes List" : "lat,lon",
              "Include Core Attributes" : "true"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "6bae71ac-1430-3698-a3f0-6e4718b8c73a",
            "instanceIdentifier" : "bd271a94-122f-3e8f-3f6a-056c4fa95f22",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetSensors",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 576.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "http://mock-air-api:1337/station/sensors/${stationId}",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "96197faa-8518-3aff-9e22-0c9b082efb5f",
            "instanceIdentifier" : "53f7dde1-b435-3efd-9f5d-f3f75d43c77f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseStationLocation",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 656.0,
              "y" : 392.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "lon" : "$.gegrLon",
              "lat" : "$.gegrLat",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "lon" : {
                "displayName" : "lon",
                "identifiesControllerService" : false,
                "name" : "lon",
                "sensitive" : false
              },
              "lat" : {
                "displayName" : "lat",
                "identifiesControllerService" : false,
                "name" : "lat",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "087d1282-f1e1-3df9-a25b-e5378d54a35d",
            "instanceIdentifier" : "66203e3e-f755-3d60-48ae-2ecf2f9cd268",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitStationList",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 224.0
            },
            "properties" : {
              "Null Value Representation" : "the string 'null'",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "9a705c5a-1611-3a2c-a0fd-5909b69d5cd1",
            "instanceIdentifier" : "d3bca395-2e36-3044-b5a5-cde59cd5702f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseSensorId",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 952.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore",
              "sensorId" : "$.id"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              },
              "sensorId" : {
                "displayName" : "sensorId",
                "identifiesControllerService" : false,
                "name" : "sensorId",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "74ee7c99-f899-3652-82e8-75dd291041e6",
            "instanceIdentifier" : "ced09817-1698-3f2a-ff85-d772e6ce239e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitSensorList",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 760.0
            },
            "properties" : {
              "Null Value Representation" : "the string 'null'",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "28ddef31-0bcf-3dff-a567-909a3c2ee2ee",
            "identifier" : "87faa0fd-ed34-35b3-8c78-212d5a94cd06",
            "instanceIdentifier" : "1694cae2-870d-3aad-ec4a-aeec0bdfee49",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetStations",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 216.0,
              "y" : 56.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "http://mock-air-api:1337/station/findAll",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "5 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 488.0,
              "y" : 200.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
              "id" : "3217b92d-bac1-3310-b21c-3c9413dd679e",
              "instanceIdentifier" : "5f35c5dc-a3eb-3662-0ff2-ff2c5778a28d",
              "name" : "ParseLocation",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "identifier" : "22481ee1-d443-3693-ae64-5e50f1f98786",
            "instanceIdentifier" : "d1eeb8fc-0f02-34a6-121d-a1a203f58024",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
              "id" : "0e9fb29a-9790-323d-8a75-a9be4563f0d6",
              "instanceIdentifier" : "b96f5d51-b32f-3c89-a41b-416c0cbd433f",
              "name" : "FromWeatherPG",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 456.0,
              "y" : 584.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
              "id" : "d81f0ac0-4f4d-3dc3-bf86-c2550b34c53c",
              "instanceIdentifier" : "67abcfa0-0ffc-3e90-6ded-1a7265cb23e3",
              "name" : "Wait",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "identifier" : "47689f1a-e0fc-311f-859d-978ad6bb3a77",
            "instanceIdentifier" : "a7369ff8-321d-3ee1-e4c2-f8d9a100d019",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
              "id" : "ba8b6eae-11e7-38eb-8fa3-e8e3d39da893",
              "instanceIdentifier" : "08008797-87dc-397e-0347-ff72171f0ffe",
              "name" : "GetWeather",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 456.0,
              "y" : 384.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
              "id" : "ba8b6eae-11e7-38eb-8fa3-e8e3d39da893",
              "instanceIdentifier" : "08008797-87dc-397e-0347-ff72171f0ffe",
              "name" : "GetWeather",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "identifier" : "7b4a550a-c958-3335-8efa-907aabf66830",
            "instanceIdentifier" : "8b326175-debf-3525-bf80-322d4a0d34d2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
              "id" : "3217b92d-bac1-3310-b21c-3c9413dd679e",
              "instanceIdentifier" : "5f35c5dc-a3eb-3662-0ff2-ff2c5778a28d",
              "name" : "ParseLocation",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "46509b19-1ecf-3d2d-99ca-df563d1c4d9c",
          "identifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "identifier" : "0e9fb29a-9790-323d-8a75-a9be4563f0d6",
            "instanceIdentifier" : "b96f5d51-b32f-3c89-a41b-416c0cbd433f",
            "name" : "FromWeatherPG",
            "position" : {
              "x" : 682.0,
              "y" : 115.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "dfb0da41-57a5-3700-3f5c-7c945bca3d0b",
          "labels" : [ ],
          "name" : "WeatherProcessGroup",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1529.0,
            "y" : 249.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "identifier" : "d81f0ac0-4f4d-3dc3-bf86-c2550b34c53c",
            "instanceIdentifier" : "67abcfa0-0ffc-3e90-6ded-1a7265cb23e3",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Wait",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 624.0,
              "y" : 624.0
            },
            "properties" : {
              "wait-buffer-count" : "1",
              "wait-mode" : "wait",
              "attribute-copy-mode" : "keeporiginal",
              "releasable-flowfile-count" : "1",
              "expiration-duration" : "10 min",
              "target-signal-count" : "1"
            },
            "propertyDescriptors" : {
              "wait-buffer-count" : {
                "displayName" : "Wait Buffer Count",
                "identifiesControllerService" : false,
                "name" : "wait-buffer-count",
                "sensitive" : false
              },
              "wait-mode" : {
                "displayName" : "Wait Mode",
                "identifiesControllerService" : false,
                "name" : "wait-mode",
                "sensitive" : false
              },
              "attribute-copy-mode" : {
                "displayName" : "Attribute Copy Mode",
                "identifiesControllerService" : false,
                "name" : "attribute-copy-mode",
                "sensitive" : false
              },
              "distributed-cache-service" : {
                "displayName" : "Distributed Cache Service",
                "identifiesControllerService" : true,
                "name" : "distributed-cache-service",
                "sensitive" : false
              },
              "releasable-flowfile-count" : {
                "displayName" : "Releasable FlowFile Count",
                "identifiesControllerService" : false,
                "name" : "releasable-flowfile-count",
                "sensitive" : false
              },
              "release-signal-id" : {
                "displayName" : "Release Signal Identifier",
                "identifiesControllerService" : false,
                "name" : "release-signal-id",
                "sensitive" : false
              },
              "signal-counter-name" : {
                "displayName" : "Signal Counter Name",
                "identifiesControllerService" : false,
                "name" : "signal-counter-name",
                "sensitive" : false
              },
              "expiration-duration" : {
                "displayName" : "Expiration Duration",
                "identifiesControllerService" : false,
                "name" : "expiration-duration",
                "sensitive" : false
              },
              "target-signal-count" : {
                "displayName" : "Target Signal Count",
                "identifiesControllerService" : false,
                "name" : "target-signal-count",
                "sensitive" : false
              },
              "wait-penalty-duration" : {
                "displayName" : "Wait Penalty Duration",
                "identifiesControllerService" : false,
                "name" : "wait-penalty-duration",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.Wait",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "identifier" : "3217b92d-bac1-3310-b21c-3c9413dd679e",
            "instanceIdentifier" : "5f35c5dc-a3eb-3662-0ff2-ff2c5778a28d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseLocation",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 624.0,
              "y" : 216.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "lon" : "$.lon",
              "lat" : "$.lat",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "lon" : {
                "displayName" : "lon",
                "identifiesControllerService" : false,
                "name" : "lon",
                "sensitive" : false
              },
              "lat" : {
                "displayName" : "lat",
                "identifiesControllerService" : false,
                "name" : "lat",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.18.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4d75c1cc-202b-38c5-b9a1-8b367c05e8a0",
            "identifier" : "ba8b6eae-11e7-38eb-8fa3-e8e3d39da893",
            "instanceIdentifier" : "08008797-87dc-397e-0347-ff72171f0ffe",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetWeather",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 624.0,
              "y" : 400.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=1a89b15c921561ee27cdc736203f4745",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}